Program that verifies if a program can enter the ADC

ADC
Using ReactJS, python, MySQL