/* This is to format our html page: StudentBusiness.js */

.WebTitle{
    text-align: center;
    font-weight: bold;

}

.FeatBusiness {
    text-align: center;
    font-weight: bold;
}

.SetFeatBusiness {
    text-align: center;
    font-weight: bold;
}

.FeaturedBusinessOne {
    display: flex;
    width: 100%;
}
  
.FeaturedBusinessOne div {
    width: 50%;
}
  
.noMargin {
    margin: 0px;
}
  
.BusinessA {
    text-align: center;
    padding-left: 100px;
}
  
.BusinessB {
    text-align: center;
    padding-left: 100px;
}
  
.BusinessC {
    text-align: center;
    padding-left: 100px;
}
  
.BusinessD {
    text-align: center;
    padding-left: 100px;
}

.BusinessCategoriesTitle {
    padding-top: 50px;
    text-align: left;
    font-weight: bold;
}

.BusinessCategories {
    text-align: left;
    font-weight: lighter;
    font-size: 15px;
}

.AdTitle {
    text-align: right;
    font-weight: bold;
}

.Advertisements {
    text-align: right;
    font-weight: lighter;
    font-size: 15px;
}



