.Search {
    position: absolute;
    top: 0;
    right: 10px;
}

.Google {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5%;
    border-radius: 28px;
    background: #f1f1f1;
    min-height: 400px;
    margin: 0 auto;
}